.sal{background-color: aqua;}
.do{background-color: yellow;}
.mom{background-color: pink;}
.so{background-color: green;}
.dul{background-color: rosybrown;}
.sol{background-color: orange;}
.moon{background-color: red;}
.ko{background-color: gray;}
.gu{text-align: center;color: red;}